@use "@/styles/mixins.scss" as *;

.section {
  padding-bottom: 20%;
  margin-top: 6.25rem;
  @include gap();
}

.container {
  @include container();
}

.form {
  padding: 1.562rem;
  background-color: white;
  border-radius: 1.25rem;
  max-width: 46.875rem;
  margin: 0 auto;
}

.title {
  color: white;
  text-align: center;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}
