@use "@/styles/mixins.scss" as mix;

.section {
  background-color: white;
  @include mix.mq(lg) {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1.25rem;
    align-items: center;
  }
}
.carouselContainer {
  overflow: hidden;
  @include mix.mq(lg) {
    &:nth-of-type(1) {
      order: 2;
    }
    &:nth-of-type(2) {
      order: 1;
    }
  }

  :global(.slick-dots) {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 1.25rem;
  }
}

.media {
  position: relative;
  z-index: 1;
}

.mediaWrapper {
  transform: rotate(-15deg);
  clip-path: ellipse(90% 50% at 100% 50%);
}

.image {
  transform: rotate(15deg);
  aspect-ratio: 100 / 80;
  object-fit: cover;
}

.shortLine {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(15deg) translate(15%, 0%);
  width: 13%;
}

.longLine {
  position: absolute;
  bottom: 0;
  left: 55%;
  transform: rotate(14deg) translate(0, 10%);
  width: 50%;
}

.content {
  margin: 2.5rem auto;
  margin-bottom: 3.75rem;
  text-align: right;
  position: relative;
  z-index: 1;
  @include mix.gap();
}

.contentWrapper {
  margin: 0 auto;
  @include mix.mq(sm) {
    max-width: 35.625rem;
  }
}

.title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.copy {
  white-space: break-spaces;
}

.dot {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  button {
    margin: 0 !important;
    padding: 0 !important;
    width: 0.938rem !important;
    height: 0.938rem !important;
    border-radius: 50% !important;
    background-color: var(--dot-color) !important;
    opacity: 0.5;
    &:before {
      content: none !important;
    }
    &:after {
      content: none;
    }
  }
  :global(.slick-active) {
    button {
      opacity: 1;
    }
  }
}

.carouselLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  color: var(--primary-base);
  font-size: 1.1rem;
}

.fallbackContent {
  position: relative;

  .media {
  }

  .content {
  }
}
